<!-- Static navbar -->
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">NodeReact</a>
            <a class="blog-nav-item" href="#">用户</a>
            <a class="blog-nav-item" href="#">讨论</a>
            <a class="blog-nav-item-right text-right" href="#">登录</a>
            <a class="blog-nav-item-right text-right" href="#">注册</a>
        </nav>
    </div>
</div>