#set($layout="/layout/main.vm")

#define($title)Main#end

#define($referJs)
    <script type="text/javascript" src="1.0/js/index.js"></script>
#end

#define($content)
    #include("include/navbar.vm")

<div class="container content">
    <p>Welcome to </p>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-9">
            <!-- content list -->
            <div id="topic-list"></div>
        </div>

        <!-- side bar -->
        <div class="col-md-3 side-bar">
            <div id="post-topic"></div>
            <div id="hello"></div>
        </div>

    </div>

</div>
#end
